<header>
	<div class="container">
		<div class="header_navigation">
			<div class="header_navigation__logo">
				<img src="../../assets/logo.svg" alt="logo">
			</div>
			<nav #menu>
				<ul>
					<li><a class="active" href="#">PRODUCTS</a></li>
					<li><a href="#">APP & GAMES</a></li>
					<li><a href="#">FEATURES</a></li>
					<li><a href="#">SUPPORT</a></li>
					<li><a href="#">ABOUT</a></li>
				</ul>
			</nav>
			<div #bag class="header_navigation__bag">
				<img src="../../assets/icons/bag.svg" alt="bag">
			</div>
			<div class="header_navigation__hidden" (click)="drawMenu()">
				<img src="../../assets/icons/menu.svg" alt="menu">
			</div>
		</div>
		<div class="header_cover">
			<h1>Let your mind <span>explore</span> new world</h1>
			<p>Playing electronic games, whether through consoles, computers, mobile phones or another medium
				altogether. Gaming is a
				nuanced term that suggests regular gameplay, possibly as a hobby.</p>
			<div class="header_cover--button">
				<button>BUY NOW</button>
				<button>PLAY NOW</button>
			</div>
			<div class="header_cover--stat">
				<div>
					<p>300+</p>
					<p>Unique style</p>
				</div>
				<div>
					<p>200+</p>
					<p>Project finished</p>
				</div>
				<div>
					<p>500+</p>
					<p>Happy customer</p>
				</div>
			</div>
			<img src="../../assets/artboard.png" alt="">
		</div>
	</div>
</header>