@import "../../sass.scss";

header {
	padding: 55px 0;
	.header_navigation {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "logo nav bag";
		align-items: center;
		gap: 30px;

		@include break(1100px) {
			grid-template-columns: 1fr 2fr 0.5fr;
		}

		@include break(875px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "logo menu" "nav bag";
		}

		@include break(675px){
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			grid-template-areas: "logo menu" "nav nav";
		}

		&__logo {
			grid-area: logo;
			cursor: pointer;
		}

		nav {
			grid-area: nav;
			justify-self: center;

			@include break(875px) {
				display: none;
				justify-self: start;
			}

			@include break(610px){
				width: 100%;
			}

			ul {
				display: flex;

				@include break(610px){
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}

				li {
					list-style: none;
					margin-right: 40px;
					width: max-content;

					@include break(610px){
						margin-right: 0;
						margin-bottom: 20px;
						width: auto;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						color: white;
						text-decoration: none;
						font-weight: 300;
						transition: 0.3s ease-in-out font-weight;
						&:hover {
							font-weight: bold;
						}
					}
					.active {
						font-weight: bold;
					}
				}
			}
		}

		&__bag {
			grid-area: bag;
			justify-self: end;
			cursor: pointer;

			@include break(875px) {
				display: none;
			}

			@include break(675px) {
				display: none;
			}
		}

		&__hidden {
			grid-area: menu;
			display: none;
			cursor: pointer;

			@include break(875px) {
				justify-self: end;
				display: block;
			}
		}
	}
}
